* {
  /*outline: 1px solid red;*/
}

body {
  background: black;
  font-family: 'Gloria Hallelujah', cursive;
}

/* ***************************INDEX****************************** */

/* INDEX */
#gallery {
  animation: fader 10s cubic-bezier(.75,0,.25,1) infinite;
}

.splash {
  opacity: 0;
  width: 100%;
}

.logo {
  height: 12vh;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.514);
}

.black {
  color: black;
}

@keyframes fader {
  0% {background-image: url("../assets/images/splash/5.png"); background-size: cover;}
  25% {background-image: url("../assets/images/splash/4.png"); background-size: cover;}
  50% {background-image: url("../assets/images/splash/3.png"); background-size: cover;}
  75% {background-image: url("../assets/images/splash/2.png"); background-size: cover;}
  100% {background-image: url("../assets/images/splash/1.png"); background-size: cover;}
}

.img-splash {
  align-items: center;
  display: flex;
  height: 100vh;
}

/* *************************HOME***************************** */
.search-style {
  margin-left: 50%;

}
.navbar {
  margin-bottom: 0;
}
.navbar-form {
  margin-top: 0.8%;
}

.style-nav {
  height: 12vh;
  background: rgb(94, 91, 91);

}

/* -------slider----------*/
.skw-pages {
  overflow: hidden;
  position: relative;
  height: 50vh;
  margin-top: 2em;
}

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.skw-page__half--left {
  left: 0;
  -webkit-transform: translate3d(-32.4vh, 100%, 0);
          transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  -webkit-transform: translate3d(32.4vh, -100%, 0);
          transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 50%;
  -webkit-transform: skewX(-18deg);
          transform: skewX(-18deg);
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -40%;
}
.skw-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transform: skewX(18deg);
          transform: skewX(18deg);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  background-size: cover;
}
.skw-page__half--left .skw-page__content {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  -webkit-transform: skewX(18deg) scale(0.95);
          transform: skewX(18deg) scale(0.95);
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 250%;
  text-align: center;
}
.skw-page__description {
  font-size: 18px;
  text-align: center;
}

.skw-page-1 .skw-page__half--left .skw-page__content {
  background-image: url("https://cinepremiere-impresionesaerea.netdna-ssl.com/noticias/2017/07-julio/75329120141010012828.jpg");
  background-size: cover;
  background-position: bottom;
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background: linear-gradient(rgba(32, 31, 31, 0.25), rgba(11, 221, 236, 0.35), rgba(35, 37, 35, 0.42));
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background: linear-gradient(rgba(32, 31, 31, 0.25), rgba(11, 221, 236, 0.35), rgba(35, 37, 35, 0.42));

}
.skw-page-2 .skw-page__half--right .skw-page__content {
  background-image: url("http://33.media.tumblr.com/f6352d8dc0d1be3696a31ac9d45d0294/tumblr_nhinnoDSLq1rp0vkjo1_500.gif");
  background-position: bottom;
  background-size: cover;
}
.skw-page-3 .skw-page__half--left .skw-page__content {
  background-image: url("https://www.filmfad.com/wp-content/uploads/2015/10/Edward-Scissorhands-25th-anniversary.jpg");
  background-position: center;
  background-size: cover;
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background: linear-gradient(rgba(32, 31, 31, 0.25), rgba(11, 221, 236, 0.35), rgba(35, 37, 35, 0.42));
}

/*linea de tiempo*/

.white {
  color: #fff;
}

/* ==========================================================================
   Sections
   ========================================================================== */

.section {
  height: 100vh;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.section#section-one {
  background-image: url('../assets/images/frankenweenie-bg.jpg');

}

.section#section-two {
  background-image: url('../assets/images/novia-bg.jpg');
}

.section#section-three {
  background-image: url('../assets/images/edward-scisso.jpg');
}

.section#section-four {
  background-image: url('../assets/images/pewee.jpg');
  background-position: 40%;
}

.bg-t {
  background-color: rgba(0,0,0,0.5);
}

#section-menu {
  position: fixed;
  right: 0;
  z-index: 3000;
  text-transform: uppercase;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.title-movie {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0;
}

.title-movie:hover {
  color: white;
  text-decoration: none;
}

.cont-films {
  height: 100vh;
  display: flex;
  align-items: center;
}

.touch #section-menu {
  display: none;
}
#section-menu ul {
  list-style: none;
}

#section-menu a {
  float: right;
  clear: both;

  display: block;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  padding: 0 16px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  white-space: nowrap;

  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
#section-menu.freeze a {
  float: none;
  width: 128px;
}
#section-menu a:hover,
#section-menu a:focus {
  background: rgba(0,0,0,0.75);
  font-size: 1.2em;
}
#section-menu a span {
  display: none;
  font-weight: 700;
  position: relative;
  width: 48px;
  left: -16px;
  text-align: center;
  background: rgba(0,0,0,0.1);
}
#section-menu a.active {
  background: #000;
  font-size: 1.4em;
  font-weight: 700;
}
#section-menu.freeze a span {
  display: inline-block;
}
#section-menu a.active span {
  display: inline-block;
  background: #000;
}
#section-menu a.active span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(255,255,255,0.25);
}
#section-menu.freeze a.active span:before {
  display: none;
}

i.fa.fa-plus {
  padding-left: 10px;
}

.nav__title {
  font-size: 30px;
}

@media only screen and (min-width: 970px) {
  .cont-films {
    height: 85vh;
    display: flex;
    align-items: flex-end;
  }

  h1.alice.text-center.white.title-movie-h1 {
    font-size: 70px;
    padding: 30px 0;
  }
}

.alice {
  font-family: 'Henny Penny', cursive;
}