<!DOCTYPE html>
<html lang="en">
<!-- - - - - - - - - - - - - CABEZA - - - - - - - - - - - -  -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bio</title>
  <!-- Latest compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Henny+Penny" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon-16x16.png">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap-3-3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<!-- - - - - - - - - - - - - CUERPO - - - - - - - - - - - -  -->
<body>
  
  <!-- ********************navbar **************** -->
  <!-- - - - NAVBAR - - - -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="img-responsive logo" src="../assets/images/logo.png" alt="logo">
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right">
            <ul class="nav navbar-nav">
              <li><a class="alice btn-navbar" href="../views/home.html">Principal</a></li>
            </ul>
          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>

<!--  *******section 1***********   -->
  <section class="container-fluid color-text">
    <div class="row">
        <h1 class="bio-title text-uppercase col-xs-12 col-sm-4 col-sm-offset-2 main-h1">tim burton</h1>
    </div>
    <div class="row">
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">El destacado director y productor de cine estadounidense, se caracteriza por tener una filmografía de historias fantásticas y góticas, cuyos protagonistas suelen ser seres inadaptados, incomprendidos y enigmáticos.</p>
    </div>
  </section>

  <section class="container-fluid color-text">
    <div class="row">
        <h1 class="bio-title text-uppercase col-xs-12 col-sm-4 col-sm-offset-2 main-h1">Primeros Años</h1>
    </div>
    <div class="row">
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">Nació en Burbank, California el 25 de agosto de 1958. Siempre fue un niño tímido, abstraido y extraño que creció sumergido en las macabras fantasías de Edgar Allan Poe y en el realismo siniestro y atomentado de Charles Dickens. Sin embargo, su mayor afición siempre fue soñar con las películas de terror y ciencia-ficción que pasaban en la pequeña sala del pueblo. Fue en ese cine donde descubrió a Vincent Price, una de sus mayores influencias.</p>
    </div>
  </section>

  <section class="container-fluid color-text">
    <div class="row">
        <h1 class="bio-title text-uppercase col-xs-12 col-sm-4 col-sm-offset-2 main-h1">Inicios</h1>
    </div>
    <div class="row">
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">Ante las muchas aspiraciones que tenía en el terreno artístico, decidió cambiar de localidad e ingresar en el Instituto de Artes Gráficas de California. Allí se dedicó principalmente a la animación, pero las clases eran demasiado caras. La compañía Disney, que andaba buscando jóvenes talentos, le concedió una beca. De este modo, estuvo tres años en el departamento de animación de la escuela antes de entrar como animador en la Disney. Entonces tenía 21 años.</p>
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">Su primera tarea fue incorporarse al equipo de animadores del largometraje “Tod y Toby”, de 1981, en el que estuvo durante tres años. La experiencia no fue nada satisfactoria para el joven Burton.</p>
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">Posteriormente, Burton trabajó para un nuevo proyecto, “Taron y el caldero mágico”, en el que pudo llevar a la práctica sus propios diseños. Sin embargo, la Disney sacrificó buena parte de sus ideas, con lo que la experiencia fue nuevamente frustrante.</p>        
    </div> 
  </section>

  <section class="container-fluid color-text">
    <div class="row">
        <h1 class="bio-title text-uppercase col-xs-12 col-sm-4 col-sm-offset-2 main-h1">Primeros trabajos con Disney</h1>
    </div>
    <div class="row">
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">Burton comenzó a dirigir sus primeros cortometrajes exitosos, Vincent y Frankenweenie, además de escribir e ilustrar un poema, que daría lugar a la película The Nightmare Before Christmas. En 1985, Tim Burton hizo su primer largometraje, 'La gran aventura de Pee-Wee', que planta las bases de un mundo muy bizarro, donde compiten lo fantástico y lo oscuro. Tres años más tarde, rueda la comedia 'Beetlejuice', una fábula macabra-fantastica, en la que Michael Keaton interpreta un "bio-exorcista" loco de atar. Precisamente el actor sería el elegido por Burton para encarnar a 'Batman' y también en su secuela 'Batman vuelve'.</p>
    </div>
  </section>

  <section class="container-fluid color-text">
    <div class="row">
        <h1 class="bio-title text-uppercase col-xs-12 col-sm-4 col-sm-offset-2 main-h1">Siguientes pasos</h1>
    </div>
    <div class="row">
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">Burton comenzó en 1990, a rodar 'Eduardo Manostijeras', una primera colaboración con Johnny Depp, que se convertirá en un habitual en sus películas. Así, Depp se deslizará después bajo la apariencia del director 'Ed Wood', hacer todo lo posible para resolver el misterio de un jinete sin cabeza en 'Sleepy Hollow', interpretar a un inquietante chocolatero Willy Wonka en 'Charlie y la fábrica de chocolate', y encarnar al temible barbero 'Sweeney Todd' en la adaptación del musical. </p>
    </div>
  </section>

  <section class="container-fluid color-text">
    <div class="row">
      <p class="phrases col-xs-12 col-sm-8 col-sm-offset-2">La dirección de exitosos largometrajes es una constante en su carrera y sin duda su película más amada es la fantasía romántica de 1990 El Joven Manos de Tijera, co-escrita y producida por Burton. La película también marcó el inicio de su exitosa colaboración cinematográfica con Johnny Depp, quien dio una actuación conmovedora en el papel del protagonista.</p>
    </div>
  </section>
     
  
  <!-- jquery -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- javascript -->
  <script src="../vendors/bootstrap-3-3.7-dist/js/bootstrap.min.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>