<!DOCTYPE html>
<html lang="en">
<!-- - - - - - - - - - - - - CABEZA - - - - - - - - - - - -  -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bio</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../vendors/bootstrap-3-3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<!-- - - - - - - - - - - - - CUERPO - - - - - - - - - - - -  -->
<body>
    <!-- ********************navbar **************** -->
  <nav class="navbar navbar-inverse style-nav">
    <form class="navbar-form navbar-left" role="search">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class="img-responsive" src="../assets/images/logo-resize.png">
      </a>    
      <div class="form-group">
        <input type="text" class="form-control search-style" placeholder="Search">
      </div>
    </form>
  </nav>
     
  
  <!-- jquery -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- javascript -->
  <script src="../vendors/bootstrap-3-3.7-dist/js/bootstrap.min.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>