<!DOCTYPE html>
<html lang="en">
<!-- - - - - - - - - - - - - CABEZA - - - - - - - - - - - -  -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bio</title>
  <!-- Latest compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap-3-3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<!-- - - - - - - - - - - - - CUERPO - - - - - - - - - - - -  -->
<body>
    <!-- ********************navbar **************** -->
  <nav class="navbar navbar-inverse style-nav">
    <form class="navbar-form navbar-left" role="search">
      <a class="navbar-brand" href="home.html">
        <img alt="Brand" class="img-responsive" src="../assets/images/logo-resize.png">
      </a>    
      <div class="form-group">
        <input type="text" class="form-control search-style" placeholder="Search">
      </div>
    </form>
  </nav>

  <section class="container-fluid">
    <div class="row">
        <h1 class="text-uppercase col-xs-12 col-sm-4 col-sm-offset-2 main-h1">tim burton</h1>
    </div>
    <div class="row">
      <p class="col-xs-12 col-sm-8 col-sm-offset-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione blanditiis consequuntur, hic aut maiores ipsam officiis fuga, tempora ex corrupti commodi veniam eaque, esse dignissimos voluptatibus ducimus quibusdam doloremque ad? Sapiente, ducimus quos porro possimus est nihil esse aspernatur modi expedita nulla aut facere veniam dicta ipsum, enim repudiandae repellat!</p>
    </div>
    
  </section>
     
  
  <!-- jquery -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- javascript -->
  <script src="../vendors/bootstrap-3-3.7-dist/js/bootstrap.min.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>