<!DOCTYPE html>
<html lang="en">
<!-- - - - - - - - - - - - - CABEZA - - - - - - - - - - - -  -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon-16x16.png">
  <link rel="stylesheet" href="../vendors/bootstrap-3-3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<!-- - - - - - - - - - - - - CUERPO - - - - - - - - - - - -  -->
<body>

  <!-- ********************navbar **************** -->
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <img class="img-responsive logo" src="../assets/images/logo.png" alt="logo">
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right">
            <!--buscador-->
            <div class="input-group">
              <input type="text" class="form-control textinput clearable" id="searchText" placeholder="Titulo de la pelicula">
              <span class="input-group-btn">
                <button class="btn btn-default" id="searchForm" type="button">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <!--vista slider para desktop-->
      <div class="row  visible-md visible-lg">
        <div class="skw-pages">
          <div class="skw-page skw-page-1 active">
            <div class="skw-page__half skw-page__half--left">
              <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
              </div>
            </div>
            <div class="skw-page__half skw-page__half--right">
              <div class="skw-page__skewed">
                <div class="skw-page__content">
                  <h2 class="skw-page__heading alice">La palabra</h2>
                  <h2 class="skw-page__heading alice">"normal"</h2>
                  <h2 class="skw-page__heading alice">siempre me asusta</h2>
                  <p class="skw-page__description alice">Frase célebre</p>
                </div>
              </div>
            </div>
          </div>
          <div class="skw-page skw-page-2">
            <div class="skw-page__half skw-page__half--left">
              <div class="skw-page__skewed">
                <div class="skw-page__content">
                  <h2 class="skw-page__heading alice">"cada vez que</h2>
                  <h2 class="skw-page__heading alice">trabajo con él,</h2>
                  <h2 class="skw-page__heading alice">parece la primera"</h2>
                  <p class="skw-page__description alice">Tim ama a Johnny Deep</p>
                </div>
              </div>
            </div>
            <div class="skw-page__half skw-page__half--right">
              <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
              </div>
            </div>
          </div>
          <div class="skw-page skw-page-3">
            <div class="skw-page__half skw-page__half--left">
              <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
              </div>
            </div>
            <div class="skw-page__half skw-page__half--right">
              <div class="skw-page__skewed">
                <div class="skw-page__content">
                  <h2 class="skw-page__heading alice">Edward</h2>
                  <h2 class="skw-page__heading alice">Scissorhands</h2>
                  <p class="skw-page__description alice">Película trascendente</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--vista slider para mobile y tablet-->
      <div class="row visible-xs visible-sm">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img class="img-responsive" src="https://cinepremiere-impresionesaerea.netdna-ssl.com/noticias/2017/07-julio/75329120141010012828.jpg" alt="...">
                  <div class="carousel-caption">
                    <h2 class="transparent black alice">La palabra "normal" 
                      <br>siempre me asusta
                    </h2>
                  </div>
                </div>
                <div class="item">
                  <img class="img-responsive" src="http://cinemaeafins.com/wp-content/uploads/sites/3/2017/08/A-Lenda-do-Cavaleiro-Sem-Cabe%C3%A7a.jpg" alt="...">
                  <div class="carousel-caption">
                    <h2 class="transparent black alice">Jhonny Deep</h2>
                    <p class="transparent black alice">Trabajar con el se siente como la primera vez</p>
                  </div>
                </div>
                <div class="item">
                  <img class="img-responsive" src="https://www.filmfad.com/wp-content/uploads/2015/10/Edward-Scissorhands-25th-anniversary.jpg" alt="...">
                  <div class="carousel-caption">
                    <h2 class="transparent black alice">Edward scissorhands</h2>
                    <p class="transparent black alice">Pelicula trascendente</p>
                  </div>
                </div>
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
      </div>
        
    </div>
  <div>
      <nav id="section-menu">
    <ul></ul>
  </nav>
  <section id="section-one" class="section scroll-item container bg-image" title="One">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="alice text-center black transparent">TIM BURTON A TRAVÉS DEL TIEMPO...</h1>
      </div>
    </div>
    <div class="row">
      <div class="cont-films">
        <div class="col-xs-9 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bg-t">
          <h3 class="nav__title white">2010 - Actualidad</h3>
          <a class="title-movie" href="#">El hogar de miss Peregrine (2016) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Big eyes (2014) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Night of the Living (2013) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Frankenweenie (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Dark Shadows (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Alicia en el Pais de las Maravillas (2010)<i class="fa fa-plus" aria-hidden="true"></i></a>   
        </div>
        
      </div>
    </div>
  </section>
  <section id="section-two" class="section scroll-item container bg-image" title="Two">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="alice text-center black transparent">TIM BURTON A TRAVÉS DEL TIEMPO...</h1>
      </div>
    </div>
    <div class="row">
      <div class="cont-films">
        <div class="col-xs-9 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bg-t">
          <h3 class="nav__title white">2010 - Actualidad</h3>
          <a class="title-movie" href="#">El hogar de miss Peregrine (2016) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Big eyes (2014) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Night of the Living (2013) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Frankenweenie (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Dark Shadows (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Alicia en el Pais de las Maravillas (2010)<i class="fa fa-plus" aria-hidden="true"></i></a>   
        </div>
        
      </div>
    </div>
  </section>
  <section id="section-three" class="section scroll-item container bg-image" title="Three">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="alice text-center black transparent">TIM BURTON A TRAVÉS DEL TIEMPO...</h1>
      </div>
    </div>
    <div class="row">
      <div class="cont-films">
        <div class="col-xs-9 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bg-t">
          <h3 class="nav__title white">2010 - Actualidad</h3>
          <a class="title-movie" href="#">El hogar de miss Peregrine (2016) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Big eyes (2014) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Night of the Living (2013) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Frankenweenie (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Dark Shadows (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Alicia en el Pais de las Maravillas (2010)<i class="fa fa-plus" aria-hidden="true"></i></a>   
        </div>
        
      </div>
    </div>
  </section>
  <section id="section-four" class="section scroll-item container bg-image" title="Four">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="alice text-center black transparent">TIM BURTON A TRAVÉS DEL TIEMPO...</h1>
      </div>
    </div>
    <div class="row">
      <div class="cont-films">
        <div class="col-xs-9 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bg-t">
          <h3 class="nav__title white">2010 - Actualidad</h3>
          <a class="title-movie" href="#">El hogar de miss Peregrine (2016) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Big eyes (2014) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Night of the Living (2013) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Frankenweenie (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Dark Shadows (2012) <i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class="title-movie" href="#">Alicia en el Pais de las Maravillas (2010)<i class="fa fa-plus" aria-hidden="true"></i></a>   
        </div>
        
      </div>
    </div>
  </section>
  </div>   
  <!--contenedor de peliculas buscadas por medio del INPUT search-->
  <div class="container">
    <div id="movies" class="row">
      
    </div>
  </div> 
  <!--FIN de contenedor-->
  <!-- jquery -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- javascript -->
  <script src="../vendors/bootstrap-3-3.7-dist/js/bootstrap.min.js"></script>
  <script src="../js/movies.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>