<!DOCTYPE html>
<html lang="en">
<!-- - - - - - - - - - - - - CABEZA - - - - - - - - - - - -  -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home view</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../vendors/bootstrap-3-3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<!-- - - - - - - - - - - - - CUERPO - - - - - - - - - - - -  -->
<body>

  <!-- ********************navbar **************** -->
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <img class="img-responsive logo" src="../assets/images/logo.png" alt="logo">
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right">
            <!--buscador-->
            <div class="input-group">
              <input type="text" class="form-control  textinput clearable" placeholder="Titulo de la pelicula">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="skw-pages">
              <div class="skw-page skw-page-1 active">
                <div class="skw-page__half skw-page__half--left">
                  <div class="skw-page__skewed">
                    <div class="skw-page__content"></div>
                  </div>
                </div>
                <div class="skw-page__half skw-page__half--right">
                  <div class="skw-page__skewed">
                    <div class="skw-page__content">
                      <h2 class="skw-page__heading alice">La palabra</h2>
                      <h2 class="skw-page__heading alice">"normal"</h2>
                      <h2 class="skw-page__heading alice">siempre me asusta</h2>
                      <p class="skw-page__description alice">Frase célebre</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="skw-page skw-page-2">
                <div class="skw-page__half skw-page__half--left">
                  <div class="skw-page__skewed">
                    <div class="skw-page__content">
                      <h2 class="skw-page__heading alice">"cada vez que</h2>
                      <h2 class="skw-page__heading alice">trabajo con él,</h2>
                      <h2 class="skw-page__heading alice">parece la primera"</h2>
                      <p class="skw-page__description alice">Tim ama a Johnny Deep</p>
                    </div>
                  </div>
                </div>
                <div class="skw-page__half skw-page__half--right">
                  <div class="skw-page__skewed">
                    <div class="skw-page__content"></div>
                  </div>
                </div>
              </div>
              <div class="skw-page skw-page-3">
                <div class="skw-page__half skw-page__half--left">
                  <div class="skw-page__skewed">
                    <div class="skw-page__content"></div>
                  </div>
                </div>
                <div class="skw-page__half skw-page__half--right">
                  <div class="skw-page__skewed">
                    <div class="skw-page__content">
                      <h2 class="skw-page__heading alice">Edward</h2>
                      <h2 class="skw-page__heading alice">Scissorhands</h2>
                      <p class="skw-page__description alice">Película trascendente</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  
  
     
  <!-- jquery -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- javascript -->
  <script src="../vendors/bootstrap-3-3.7-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/home.js"></script>
</body>
</html>